* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    height: 100vh; /* 画面全体を使う */
    display: flex;
    justify-content: center; /* 横中央 */
    align-items: center;     /* 縦中央 */
    background-color: #000;  /* 背景色は好みで */
  }
  
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  